.page{
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    background: #f3f3f3;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-family: Ubuntu, sans-serif;
    color: #333;
}

h2{
    text-align: center;
}

.text-left{
    text-align: left;
    margin-bottom: 60px;
}

.text-rigth{
    text-align: right;
    margin-bottom: 20px;
}

h3{
    text-align: center;
    font-size: 22px;
    font-family: Ubuntu, sans-serif;
}

.image-round{
    border-radius: 30px;
    border: 14px solid #fff;
    width: 280px;
}

.image-border{
    text-align: center;
    
}

.btns > a {
    color: #fff;
    background: #333;
    padding: 10px 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 10px;
}

.btns{
    padding: 10px 10px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 80px;
}